.nav-tabs .custom-switch {
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  padding: 0.567rem 0 0.567rem 1.33rem;
  font-size: 0.8rem;
}

.main-article-image .image-container {
  width: calc(86px + 1rem);
}

