.page-checkout {
	padding-bottom: 50px;
	@include bp(xs) {
		padding-bottom: 32px;
	}

	.page-title {
		text-transform: none;
	}

	.page-top {
		margin-bottom: 60px;
		border-bottom: 1px solid $black;
		@include bp(xs) {
			margin-bottom: 32px;
		}
	}
}

.checkout-form {
	display: flex;
	gap: 25px;
	@include bp(lg) {
		flex-direction: column;
	}
	@include bp(xs) {
		gap: 32px;
	}

	> div {
		width: 50%;
		@include bp(lg) {
			width: 100%;
		}
	}
}

.checkout-subtitle {
	display: block;
	margin-bottom: 23px;
	font-family: $title;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	color: $black;
	@include bp(xs) {
		font-size: 18px;
	}
}

.checkout-delivery {
	padding: 36px;
	background-color: #fff;
	@include bp(lg) {
		padding: 20px;
	}
	@include bp(xs) {
		padding: 24px 16px;
	}

	.input-wrapper {
		label {
			span {
				margin-left: 2px;
				color: $red2;
				@include bp(xs) {
					margin-left: 1px;
				}
			}
		}

		.input {
			padding: 0 16px;
		}
	}
}

.checkout-delivery__inputs {

	.input-wrapper {
		margin-bottom: 16px;

		label.error {
			left: 17px;
		}
	}

	.dropdown-wrapper {
		position: relative;

		.input {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.dropdown-list {
		display: none;
		position: absolute;
		top: calc(100% + 2px);
		left: 0;
		width: 100%;
		background: #fff;
		box-shadow: $shadow;
		z-index: 10;
		border-top: 1px solid $black;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@include bp(xs) {
			font-size: 14px;
		}

		&.is-active {
			display: block;
		}

		.placeholder {
			display: block;
			color: $grey;
			padding: 16px 24px;
			opacity: 1;
			background-color: transparent;
			@include bp(xs) {
				padding: 12px 20px;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 12px 0;
			max-height: 250px;
			overflow-y: auto;

			&:hover {
				&::-webkit-scrollbar {
					background: transparent;
					width: 3px;
					transition: linear .2s;
				}

				&::-webkit-scrollbar-thumb {
					background: rgba($grey, .6);
					border-radius: 0;
					width: 3px;
					transition: linear .2s;
				}
			}

			&::-webkit-scrollbar {
				background: transparent;
				width: 3px;
				transition: linear .2s;
			}

			&::-webkit-scrollbar-thumb {
				background: transparent;
				border-radius: 0;
				width: 3px;
				transition: linear .2s;
			}

			li {
				padding: 4px 24px;
				cursor: pointer;
				transition: background .2s;
				@include bp(xs) {
					padding: 4px 20px;
				}

				&:hover {
					background-color: $bg-grey;
				}
			}
		}
	}
}

.input-wrapper-uk {
	.input {
		display: flex;
		align-items: center;
		padding: 0 16px;
		border-color: $purple;
		color: $purple;
	}
	+ .form-row {
	    .input-wrapper:first-of-type {
				.input:focus {
					+ .error{
						opacity: 0;
					}
				}
				.error{
					top: 13px;
					width: calc(100% - 30px);
					pointer-events: none;
				}
	    }
	}
}

.checkout-delivery__payment {
	margin-top: 44px;
	@include bp(xs) {
		margin-top: 16px;
	}
}

.payment__top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	@include bp(xs) {
		gap: 11px;
	}

	.checkout-subtitle {
		margin-bottom: 0;
	}

	> div {
		width: fit-content;
		padding: 3px 15px;
		border: 1px solid $yellow;
		background: rgba(245, 183, 0, 0.10);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-align: center;
		color: $black;
		@include bp(xs) {
			padding: 3px 11px;
			font-size: 13px;
		}

		span {
			font-family: $title;
		}
	}
}

.payment__methods {
	margin-top: 25px;
	padding: 22px 23px 23px 23px;
	border: 1px solid $disable;
	@include bp(sm) {
		margin-top: 24px;
		padding: 15px 14px 11px 15px;
	}
}

.checkout-payment__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&:hover {
		position: relative;
		z-index: 1;
	}

	+ .checkout-payment__item {
		padding-top: 14px;
	}

	.input-wrapper {
		margin-bottom: 0;
	}

	input[type="radio"] {
		display: none;
	}

	&.checked {
		.input-wrapper {
			label {
				pointer-events: none;
			}
		}
	}

	.checkbox-wrapper {
		label {
			display: inline-flex;
			align-items: flex-start;
			gap: 11px;
			cursor: pointer;
		}

		.label {
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			color: $black;
			@include bp(xs) {
				font-size: 16px;
			}
		}

		svg {
			flex-shrink: 0;
			transform: translateY(3px);
			@include bp(xs) {
				transform: translateY(2px);
			}
		}
	}

	&:not(.checked) {
		label {
			> svg {
				path {
					stroke: $grey;

					+ path {
						opacity: 0;
					}
				}
			}
		}
	}

	.select-wrapper {
		+ .payment-method__text {
			margin-top: 8px;
			padding: 11px 15px;
			border: 1px solid $purple;
			background: rgba(65, 28, 193, 0.10);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			color: $black;
			@include bp(xs) {
				font-size: 13px;
			}
		}
	}
}

.checkout-payment__inner {
	width: 100%;
	margin-top: -4px;
	padding-bottom: 3px;
}

.label-text {
	display: block;
	margin-top: 19px;
	margin-bottom: 4px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: $black;
	@include bp(xs) {
		margin-top: 14px;
		margin-bottom: 2px;
		font-size: 16px;
	}
}

.label-tooltip {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	margin-left: 3px;
	transform: translateY(-4px);

	&:hover {
		.label-tooltip__inner {
			opacity: 1;
			pointer-events: all;
			z-index: 10;
		}
	}


	.label-tooltip__inner {
		position: absolute;
		top: calc(100% + 5px);
		left: -15px;
		z-index: 1;
		width: 350px;
		min-height: 50px;
		background-color: #fff;
		border: 1px solid rgba(185, 185, 185, 0.20);
		box-shadow: 0 16px 24px 0 rgba(185, 185, 185, 0.80);
		opacity: 0;
		pointer-events: none;
		transition: opacity ease 0.3s;
		padding: 10px 15px;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.4;
		color: $black;
		@include bp(md) {
			width: 250px;
		}
		@include bp(sm) {
			left: -1000%;
		}
		@include bp(xs) {
			left: -500%;
		}

		i {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		p {
			margin: 3px 0;
		}

		> strong {
			display: block;
			margin-bottom: 3px;
			font-weight: 500;
		}

		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 0;
			height: 25px;
			width: 80px;
			opacity: 0;
		}
	}
}

.checkout-order {
	padding: 36px;
	padding-left: 34px;
	border: 1px solid $disable;
	@include bp(lg) {
		padding: 20px;
	}
	@include bp(xs) {
		padding: 23px 15px;
	}

	.cart-items {
		margin-top: 28px;
		margin-bottom: 36px;
		padding: 0;
		@include bp(xs) {
			margin-top: 23px;
			margin-bottom: 24px;
		}
	}

	.cart-item {
		@include bp(lg) {
			gap: 10px;
		}
		@include bp(xs) {
			gap: 8px 16px;
		}
	}


	.cart-item__footer {
		.cart-item__footer {
			margin-top: 0;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: capitalize;
			color: $black;
		}
	}
}

.checkout-spend {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 45px;
	border: 1px solid $yellow;
	background: rgba(245, 183, 0, 0.10);
	min-height: 51px;
	padding: 11px 20px;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	color: $black;
	@include bp(xs) {
		min-height: 45px;
		margin-bottom: 25px;
		padding: 11px 12px;
		font-size: 14px;
	}

	span {
		font-family: $title;
	}
}

.checkout-promo__head {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	cursor: pointer;
	@include bp(xs) {
		align-items: center;
	}

	svg {
		flex-shrink: 0;
		transform: translateY(-9px);
		@include bp(xs) {
			transform: translateY(0);
		}
	}

	div {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.4;
		color: $black;
		@include bp(xs) {
			font-size: 14px;
		}

		span {
			text-decoration: underline;
			@include bp(xs) {
				display: block;
			}
		}
	}
}

.checkout-promo__body {
	> span {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 10px;
		padding-bottom: 5px;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: $black;
		@include bp(xs) {
			align-items: center;
			font-size: 14px;
		}

		span {
			&:first-child {
				max-width: calc(100% - 200px);
				@include bp(xs) {
					max-width: calc(100% - 90px);
				}
			}

			&:last-child {
				cursor: pointer;
				position: relative;
				width: 200px;
				min-width: 200px;
				text-align: right;
				@include bp(xs) {
					width: 90px;
					min-width: 90px;
				}

				&:after {
					position: absolute;
					content: '';
					width: calc(100% + 20px);
					height: calc(100% + 20px);
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}

				&:hover {
					color: $purple;
				}
			}
		}
	}

	.input-wrapper {
		display: flex;
		margin-bottom: 0;
		@media screen and (max-width: 374px) {
			flex-direction: column;
		}

		.input {
			border-right: 0;
			@include bp(xs) {
				padding: 0 16px;
			}
			@media screen and (max-width: 374px) {
				text-align: center;
			}
		}

		.btn {
			flex-shrink: 0;
			padding: 10px 20px;
			font-size: 18px;
			@include bp(xs) {
				height: 44px;
				padding: 4px 15px;
				font-size: 13px;
				line-height: 1.2;
				width: 90px;
			}
			@media screen and (max-width: 374px) {
				width: 100%;
				margin-top: 5px;
			}

			&:disabled {
				opacity: 1;
				background-color: $grey;
				border-color: $grey;
				color: #fff;
			}

			&.disable {
				opacity: 0.7;
				pointer-events: none;
			}
		}

		+ .promo-error {
			color: $red2;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-top: 8px;
			@include bp(xs) {
				font-size: 14px;
			}
		}
	}
}

.checkout-price {
	margin-top: 27px;
	margin-bottom: 24px;
	padding-top: 36px;
	padding-bottom: 24px;
	border-top: 1px solid $disable;
	border-bottom: 1px solid $disable;
	@include bp(xs) {
		margin-top: 26px;
		margin-bottom: 23px;
		padding-top: 24px;
	}
}

.checkout-price__item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: $black;
	@include bp(xs) {
		font-size: 16px;
	}

	span {
		+ span {
			font-weight: 500;
		}
	}

	+ .checkout-price__item {
		margin-top: 8px;
		@include bp(xs) {
			margin-top: 7px;
		}
	}

	&.promo-subtotal {
		display: none;

		&.active {
			display: flex;
		}
	}
}

.checkout-price__item-coupon {
	position: relative;

	i {
		position: absolute;
		right: -3px;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		z-index: 10;
		cursor: pointer;

		&:hover {
			svg path {
				stroke: $red;
			}

		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	span {
		+ span {
			margin-left: auto;
			margin-right: 33px;
		}
	}
}

.cart-subtotal.checkout-price__item-coupon {
	i {
		right: 18px;
	}
}

.checkout-total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 66px;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	@include bp(xs) {
		margin-bottom: 33px;
		font-size: 18px;
	}
}

.checkout-footer {
	.input-checkbox {
		display: none;
	}

	.checkbox-wrapper {
		display: block;
		margin-bottom: 16px;
		color: $grey;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@include bp(xs) {
			margin-bottom: 12px;
			font-size: 13px;
		}

		&.err {
			input:not(:checked) + label svg path {
				stroke: $red2;
			}

			label.error {
				margin-top: 5px;
				color: $red2;
			}
		}

		svg {
			flex-shrink: 0;
			margin-right: 11px;
			transform: translateY(-1px);
		}

		label {
			display: flex;
			cursor: pointer;
		}

		a {
			color: $grey;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
			cursor: pointer;
			@include bp(xs) {
				font-size: 13px;
				white-space: nowrap;
			}

			&:hover {
				color: $black;
			}
		}

		input:not(:checked) {
			+ label svg {
				path {
					stroke: $grey;

					+ path {
						opacity: 0;
					}
				}
			}
		}
	}

}

.checkout-footer__text {
	display: block;
	margin-bottom: 16px;
	color: $grey;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@include bp(xs) {
		margin-bottom: 12px;
		font-size: 13px;
	}

	a {
		color: $grey;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
		@include bp(xs) {
			font-size: 13px;
			white-space: nowrap;
		}

		&:hover {
			color: $black;
		}
	}
}

.checkout-btn {
	display: flex;
	justify-content: center;
	margin-top: 34px;
	@include bp(xs) {
		margin-top: 23px;
	}

	.btn {
		@include bp(xs) {
			padding: 12px 31px;
		}
	}
}

.woocommerce-error {
	margin-bottom: 20px;
	font-weight: 700;
	color: $red;
}



