.cryptocheckout-title {
	display: block;
	margin: 0;
	margin-bottom: 23px;
	font-family: $title;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	color: $black;
	@include bp(xs) {
		margin-bottom: 15px;
		font-size: 18px;
	}
}

.cryptocheckout-left {
	@include bp(lg) {
		margin-bottom: 30px;
	}
	@include bp(xs) {
		margin-bottom: 32px;
	}
}

.cryptocheckout-left__text {
	padding: 23px;
	padding-bottom: 13px;
	border: 1px solid $black;
	background-color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: $black;
	@include bp(xs) {
		padding: 23px 15px 13px;
	}

	p {
		margin: 10px 0;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: $black;
	}

	a {
		text-decoration: underline;
		overflow-wrap: break-word;
		word-break: break-word;
		hyphens: auto;
	}

	strong {
		font-weight: 500;
	}

	ol, ul {
		margin-top: 10px;
		margin-bottom: 24px;
		margin-left: 0;
		padding: 0;
		padding-left: 10px;
	}

	ul {
		list-style: disc;
	}

	ol {
		counter-reset: list;
		list-style: none;
		padding-left: 0;

		li {
			counter-increment: list;
			position: relative;
			padding-left: 52px;
			@include bp(xs) {
				padding-left: 20px;
			}

			+ li {
				margin-top: 22px;
				@include bp(xs) {
					margin-top: 16px;
				}
			}

			&::before {
				content: counter(list);
				position: absolute;
				left: 0;
				top: -10px;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border: 1px solid $black;
				border-radius: 50%;
				text-align: center;
				color: $black;
				padding: 0 3px;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-family: $title;
				@include bp(xs) {
					content: counter(list) ".";
					left: -3px;
					top: 1px;
					display: inline-block;
					width: auto;
					height: auto;
					border: none;
					font-size: 14px;
				}
			}
		}
	}

	&.cryptocheckout-left__text-properloudplay {
		ol {
			margin-bottom: 33px;

			li {
				+ li {
					margin-top: 31px;
					@include bp(xs) {
						margin-top: 16px;
					}
				}
			}
		}
	}
}

.cryptocheckout-left__title {
	display: block;
	margin-bottom: 25px;
	font-family: $title;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: $black;
	@include bp(xs) {
		margin-bottom: 23px;
		font-size: 16px;
	}
}

.cryptocheckout-right__table {
	width: 100%;
	margin-bottom: 24px;
	border: 1px solid $black;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: #fff;
	color: $black;
	@include bp(xs) {
		margin-bottom: 10px;
		font-size: 14px;
	}

	tr td {
		padding: 4px 19px;
		height: 60px;
		min-height: 60px;
		border-right: 1px solid $black;
		border-bottom: 1px solid $black;
		@include bp(xs) {
			padding: 4px 7px
		}

		&:nth-of-type(1) {
			width: 251px;
			@include bp(xs) {
				width: 141px;
			}
		}

		&:nth-of-type(2) {
			padding-left: 24px;
			@include bp(xs) {
				padding-left: 12px;
			}
		}

		div {
			display: flex;
			align-items: center;
			font-weight: 500;

			i {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 33px;
				height: 30px;
				margin-right: 8px;
				@include bp(xs) {
					margin-right: 6px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					@include bp(xs) {
						object-fit: contain;
					}

					&.img-product {
						@include bp(xs) {
							width: 23px;
							height: 28px;
						}
					}

					&.img-subtotal {
						@include bp(xs) {
							width: 23px;
							height: 24px;
						}
					}

					&.img-shipping {
						@include bp(xs) {
							width: 23px;
							height: 26px;
						}
					}

					&.img-payment {
						@include bp(xs) {
							width: 26px;
							height: 21px;
						}
					}

					&.img-total {
						@include bp(xs) {
							width: 29px;
							height: 23px;
						}
					}
				}
			}
		}
	}
}

.cryptocheckout-right__support {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
	padding: 11px 23px;
	border: 1px solid $purple;
	background: rgba(65, 28, 193, 0.10);
	color: $purple;
	font-family: $title;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
	@include bp(xs) {
		justify-content: center;
		margin-top: 16px;
		padding: 7px 15px;
		font-size: 16px;
	}

	&:hover {
		color: $black;
		text-decoration: underline;
	}

	i {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 36px;
		@include bp(xs) {
			width: 31px;
			height: 32px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.cryptocheckout-left__form {
	margin-top: 24px;
	padding: 23px;
	border: 1px solid $yellow;
	background: rgba(245, 183, 0, 0.10);
	@include bp(xs) {
		margin-top: 16px;
		padding: 23px 15px;
	}
}

.cryptocheckout-left__form-title {
	display: block;
	margin-bottom: 19px;
	font-family: $title;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: $black;
	@include bp(xs) {
		margin-bottom: 24px;
		font-size: 16px;
	}

	span {
		font-family: $default;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: $black;
		@include bp(xs) {
			display: block;
			margin-top: 11px;
		}
	}
}

.cryptocheckout-left__inputs {
	display: flex;
	gap: 16px;
	@include bp(sm) {
		flex-direction: column;
		gap: 16px;
	}
}

.cryptocheckout-left__inputs-item {
	&:nth-of-type(1) {
		flex-shrink: 0;
		width: 304px;
		@include bp(md) {
			width: 100%;
			flex: 1;
		}
	}

	&:nth-of-type(2) {
		width: 100%;
		@include bp(md) {
			width: 100%;
			flex: 1;
		}
	}

	> label {
		margin-bottom: 3px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		color: $grey;
	}

	> div {
		position: relative;

		i {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			height: 100%;
			width: 72px;
			display: flex;
			border-left: none;
			justify-content: center;
			align-items: center;
			@include bp(xs) {
				width: 57px;
			}
		}

		span {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding-top: 12px;
			padding-left: 25px;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			color: $purple;
			border: 1px solid $grey;
			background: #f4eedb;
			transition: opacity ease 0.1s;
		}
	}

	.input {
		padding-right: 60px;
		border: 1px solid $grey;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: $black;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@include bp(xs) {
			padding-right: 50px;
			padding-left: 15px;
			font-size: 14px;
		}

	}
}

.cryptocheckout-confirmation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 24px;
	@include bp(xs) {
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		margin-top: 17px;
	}

	.btn {
		padding: 12px 31px;
		align-self: center;
	}


	input[type="checkbox"] {
		display: none;
		cursor: pointer;

		&:not(:checked) {
			+ label {
				> svg {
					path {
						stroke: $grey;

						+ path {
							opacity: 0;
						}
					}
				}
			}
		}
	}

	label {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.2;
		color: $grey;
		cursor: pointer;
		@include bp(xs) {
			align-items: flex-start;
			gap: 11px;
			font-size: 13px;
			line-height: 1.5;
		}

		svg {
			flex-shrink: 0;
			transform: translateY(-1px);
		}
	}
}
