.page-city{
  padding: 0;
  .page-top{
    border-bottom: 1px solid $black;
  }
  .page-description{
    max-width: 1156px;
  }
}

.city-text{
  .text-container{
    width: auto;
    position: relative;
    align-items: flex-start;
    > [class^="col"] {
      &:first-child{
        >h1, h2{
          font-family: $title;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
          text-transform: capitalize;
          margin: 0 0 40px;
          @include bp(md) {
            font-size: 36px;
          }
          @include bp(xs) {
            font-weight: 500;
            font-size: 26px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
  .text-main{
    display: block;
    gap: 0;
    color: $black;
    @include bp(xs) {
      font-size: 16px;
    }
    >*{
      &:not(div){
        margin-bottom: 12px;
      }
    }
    h2, h3, h4{
      text-align: left;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 16px;
      padding: 16px 0;
      @include bp(xs) {
        margin: 24px 0 16px;
      }
      +div{
        width: 100%;
      }
    }
    ul{
      padding-left: 24px;
      list-style-type: disc;
      >li{
        margin-bottom: 8px;
        padding-left: 0;
        &::marker{
          font-size: smaller;
        }
        &:before{
          display: none;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

.city-pic{
  position: sticky;
  top: 140px;
  @include bp(sm) {
    margin-top: 12px;
    position: static;
    top: auto;
  }
  >div{
    width: 100%;
    @include bp(xs) {
      width: auto;
      margin: 0 -20px;
    }
    img{
      width: 100%;
      aspect-ratio: 685 / 540;
      object-fit: cover;
      max-height: calc(100vh - 164px);
      max-height: calc(100svh - 164px);
      @include bp(sm) {
        max-height: unset;
      }
    }
  }
}