.page-faq{
  padding: 0 0 50px;
  @include bp(xs) {
    padding-bottom: 32px;
  }
  .page-top{
    padding-bottom: 36px;
    @include bp(xs) {
      padding-bottom: 24px;
    }
  }
}

.faq-main{
  .faq-tabs{
    width: 84%;
    @include bp(lg) {
      width: 100%;
    }
    @include bp(md) {
      width: 100vw;
      padding-left: 24px;
      margin-left: -24px;
      overflow-x: auto;
    }
    @include bp(xs) {
      padding-left: 20px;
      margin-left: -20px;
    }
  }
  .faq-list{
    width: 84%;
    @include bp(lg) {
      width: 100%;
    }
    @include bp(xs) {
      width: auto;
      margin: 0 -20px;
    }
  }
  .accordion-item{
    &.hide{
      display: none;
    }
  }
}

.faq-tabs{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 24px);
  margin-bottom: -24px;
  @include bp(md) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  >li{
    width: max-content;
    margin-right: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 38px;
    border-radius: 50px;
    background-color: #fff;
    color: $grey;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    @include bp(md) {
      margin-bottom: 0;
      min-width: max-content;
      margin-right: 16px;
    }
    @include bp(xs) {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding: 0 24px;
      margin-right: 8px;
    }
    &.active{
      background-color: $black;
      color: #fff;
      font-weight: 500;
    }
    &:last-child{
      @include bp(md) {
        margin-right: 24px;
      }
      @include bp(xs) {
        margin-right: 20px;
      }
    }
  }
  +.faq-list{
    margin-top: 60px;
    @include bp(xs) {
      margin-top: 32px;
    }
  }
}