.order-tracking {
	padding-top: 60px;
	padding-bottom: 50px;
	border-top: 1px solid $black;
	@include bp(xs) {
		padding: 32px 0;
	}
	.col-xl-6 + .col-xl-6, .col-lg-6 + .col-lg-6 {
		@include bp(lg) {
			margin-top: 64px;
			align-items: center;
		}
	}
}

.order-tracking__info {
	padding-top: 27px;
	@include bp(md) {
		padding-top: 0;
	}
	.btn {
		margin-top: 32px;
		@include bp(xs) {
			margin: 24px auto 0;
		}
	}
	label.error {
		background-color: $bg-grey;
		pointer-events: none;
	}
}

.order-tracking__text {
	margin: 0 0 36px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	color: $grey;
	@include bp(xs) {
		margin-bottom: 24px;
		font-size: 16px;
	}
}

.order-tracking__pic {
	margin-left: 32px;
	@include bp(lg) {
	    margin-left: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	img {
		max-width: 412px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include bp(md) {
			margin: 0 auto 0;
		}
	}
}

.order-tracking:has(.order-tracking__completed-info) {
	.col-xl-6 + .col-xl-6, .col-lg-6 + .col-lg-6 {
		display: flex !important;
		flex-direction: column;
		justify-content: flex-end;
	}
}

.completed-info__tag {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: max-content;
	height: 42px;
	margin-bottom: 24px;
	border-radius: 21px;
	padding: 5px 20px;
	background-color: $black;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #fff;
	@include bp(xs) {
		gap: 6px;
		font-size: 16px;
		margin-bottom: 16px;
	}
	svg{
		@include bp(xs) {
			width: 20px;
			height: 20px;
		}
	}
}

.completed-info__text {
	display: block;
	margin: 0 0 36px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: $black;
	@include bp(xs) {
		font-size: 16px;
		margin-bottom: 24px;
	}
	strong {
		font-weight: 500;
	}
}

.completed-info__title {
	display: block;
	margin-bottom: 23px;
	font-family: $title;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	color: $black;
	@include bp(xs) {
		font-size: 18px;
		margin-bottom: 16px;
	}
}

.completed-info__ship {
	margin-bottom: 35px;
	padding-top: 36px;
	padding-bottom: 45px;
	border-top: 1px solid $disable;
	border-bottom: 1px solid $disable;
	@include bp(xs) {
		padding-top: 24px;
		padding-bottom: 32px;
		margin-bottom: 24px;
	}
}

.completed-info__ship-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid $black;
	padding: 14px 23px 15px;
	gap: 20px;
	@include bp(xs) {
		padding: 16px 20px 20px;
		justify-content: center;
		gap: 16px;
	}
	> div {
		display: flex;
		align-items: center;
		margin-right: auto;
		@include bp(xs) {
			margin: 0 auto;
		}
		svg, img {
			flex-shrink: 0;
			margin-right: 18px;
			@include bp(xs) {
				width: 88px;
				height: auto;
				margin-right: 24px;
			}
		}
		img{
			object-fit: contain;
		}
	}
}

.completed-info__ship-text {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-right: auto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	color: $black;
	@include bp(xs) {
		font-size: 14px;
		gap: 4px;
	}
	strong {
		font-weight: 500;
	}
}

.completed-info__table {
	width: 100%;
	border: 1px solid $black;
	td {
		border: 1px solid $black;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: $black;
		@include bp(xs) {
			font-size: 14px;
		}
		+ td {
			width: 48%;
			padding: 16px 24px;
			font-weight: 400;
			@include bp(xs) {
				width: auto;
				padding: 12px;
			}
		}
		> div {
			display: flex;
			align-items: center;
			padding-left: 18px;
			padding-right: 15px;
			@include bp(xs) {
				padding-left: 15px;
			}
			> div {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 34px;
				margin-right: 9px;
				@include bp(xs) {
					width: 29px;
					height: 28px;
				}
				img {
					width: auto;
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
