.pagination {
	position: relative;
	padding: 0 24px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	@include bp(xs) {
		margin-top: 54px;
		justify-content: center;
	}
	@include bp(xxs) {
		transform: scale(.9);
	}
}

.pagination-numbers {
	display: flex;
	gap: 8px;
	> li {
		&.current {
			pointer-events: none;

			> a, > span {
				background-color: $black;
				color: #fff;
			}
		}

		&.disabled {
			pointer-events: none;
		}

		&.dots {
			> a, > span {
				border: none;
			}
		}

		> a, > span {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 4px;
			width: 40px;
			min-width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid $black;
			color: $black;
			font-family: $title;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			&:hover {
				color: $purple;
			}
		}
	}
}

.pagination-arrows {
	display: flex;
	margin-left: auto;
	@include bp(xs) {
		position: absolute;
		left: 20px;
		right: 20px;
		justify-content: space-between;
		pointer-events: none;
		>a{
			pointer-events: auto;
		}
	}
	@include bp(xxs) {
		left: 0;
		right: 0;
	}
	> a, > span {
		&:hover {
			svg {
				path {
					stroke: $purple;
				}
			}
		}
		&.disabled {
			pointer-events: none;
			@include bp(xs) {
				pointer-events: none;
			}
		}
		svg{
			@include bp(xs) {
				width: 40px;
				height: 40px;
			}
		}
	}
	> span {
		pointer-events: none;
		opacity: 0.2;
		@include bp(xs) {
			pointer-events: none;
		}
	}
}
