.page-search-results{
  padding: 0 0 50px;
  @include bp(xs) {
    padding-bottom: 32px;
  }
  .page-top{
    border-bottom: 1px solid $black;
  }
  .page-title{
    white-space: normal;
    word-break: break-word;
  }
}

.search-results__main{
  .catalog-filters{
    margin-top: 24px;
    margin-bottom: 24px;
    @include bp(md) {
      margin: 0;
    }
    &.active{
      .catalog-filters__counter{
        position: static;
        display: flex;
      }
    }
    .catalog-filter__wrapper{
      &.active{
        .catalog-filter__dropdown{
          transform: translate(0, 0);
        }
      }
    }
    .catalog-filter__dropdown{
      left: auto;
      right: 0;
      transform: translate(0, 30px);
    }
  }
  .catalog-filters__mob{
    border: none;
    margin: 0;
    @include bp(xs) {
      padding-top: 16px;
    }
  }
}

// no results

.search-results__empty{
  padding-top: 60px;
  @include bp(xs) {
    padding-top: 32px;
  }
  .container{
    >p{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
      @include bp(xs) {
        font-size: 16px;
      }
      strong{
        font-weight: 500;
      }
    }
  }
  .search-tags {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin-bottom: -10px;
    @include bp(xs) {
      width: calc(100% + 8px);
      margin-bottom: -8px;
    }
  }
  .search-tag {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 39px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 39px;
    border-radius: 24px;
    background: $black;
    padding: 0 20px;
    @include bp(xs) {
      margin-right: 8px;
      margin-bottom: 8px;
      height: 36px;
      font-size: 16px;
      line-height: 36px;
      padding: 0 16px;
    }
    &:hover{
      background-color: $mint;
      color: $black;
    }
  }
}