.page-telegram{
  padding: 0 0 50px;
  @include bp(xs) {
    padding-bottom: 32px;
  }
  .page-description{
    max-width: 1156px;
  }
  +.section-text{
    .text-container{
      > h1, > h2{
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

.telegram-main__wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  margin-left: -1px;
  width: calc(100% + 3px);
  @include bp(sm) {
    width: calc(100% + 2px);
  }
  >div{
    height: inherit;
    min-height: 318px;
    width: 50%;
    padding: 36px 24px;
    border: 1px solid $black;
    background-color: $bg-grey;
    margin-right: -1px;
    margin-bottom: -1px;
    @include bp(sm) {
      width: 100%;
      min-height: unset;
    }
    @include bp(xs) {
      padding: 24px 20px;
    }
    >i{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #fff;
      overflow: hidden;
      @include bp(xs) {
        width: 80px;
        height: 80px;
      }
      img{
        width: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
    >div{
      display: block;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-top: 16px;
      @include bp(xs) {
        font-size: 14px;
      }
      a{
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }
    >a{
      display: block;
      font-family: $title;
      color: $black;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      text-transform: capitalize;
      margin-top: 24px;
      @include bp(xs) {
        font-size: 16px;
        line-height: 16px;
        margin-top: 16px;
      }
      &:hover{
        color: $purple;
      }
    }
  }
}
