$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;

$default: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
$title: 'Unbounded', -apple-system, BlinkMacSystemFont, sans-serif;

$black: #0B0B0B;
$grey: #6C6C6C;
$bg-grey: #F4F4F4;
$purple: #411CC1;
$green: #00CFA8;
$mint: #7FE3C1;
$red: #FF744C;
$red2: #C40103;
$yellow: #F5B700;
$light-yellow: #F9F871;
$blue: #009FF7;
$pink: #FF0C70;
$lilac: #E8A9FF;
$disable: #D9D9D9;
$shadow: 0 16px 24px 0 rgba(185, 185, 185, 0.80);
$shadow-left: -16px 0 24px 0 rgba(185, 185, 185, 0.80);
$shadow-top: 0 8px 16px 0 rgba(185, 185, 185, 0.80);
