@import 'variables';
@import 'vendor';
@import 'fonts';
@import 'mixin';
@import 'slick';

:root {
	--sbw: 0px;
}

.mfp-hide{
    display: none !important;
}

html {
	max-width: 100vw;
	overflow-x: clip;

	&.no-gap {
		body {
			padding-right: var(--sbw);
			margin-right: calc(-1 * var(--sbw));
		}
	}

	&.open-mobile-menu {
		overflow: hidden;

		.mobile-menu {
			opacity: 1;
			visibility: visible;
		}

		.mobile-menu__inner {
			pointer-events: all;
		}

		.header-search-mobile__wrapper {
			@include bp(md) {
				pointer-events: all;
			}
		}
	}

	&.cart-open {
		overflow: hidden;
		padding-right: var(--sbw, 0);

		.header {
			padding-right: var(--sbw, 0);
		}
	}

	&.blog-categories-open {
		overflow: hidden;
	}

	&.catalog-filters-open {
		overflow: hidden;

		.catalog-filters__overlay {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 16px;
	font-family: $default;
	font-weight: 400;
	color: $black;
	background-color: $bg-grey;
	scroll-behavior: smooth;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $bg-grey;
		z-index: 1;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		transition: opacity ease 0.3s;
	}

	&.is-locked {
		position: fixed;
		inset: 0 auto auto 0;
		width: 100%;
		padding-right: var(--sbw, 0);
	}

	&.open-mobile-menu {
		overflow: hidden;

		&:before {
			opacity: 1;
		}
	}

	&.fixed-header {
		.header-search {
			.search-results {
				> ul {
					max-height: calc(100vh - 110px - 56px - 32px - 73px - 20px);
				}
			}
		}
	}

	&.popup-opened {
		.header {
			padding-right: var(--sbw, 0);
		}
	}

	&.open-search-results {
		.header-search-mobile__wrapper {
			@include bp(md) {
				height: calc(100dvh - 130px);
			}

			.view-all {
				background-color: $bg-grey;
				@include bp(md) {
					position: fixed;
					bottom: 0;
				}
			}
		}
	}

    &.home{
        .header{
            border-bottom-color: $purple;
            &.fixed{
                border-bottom-color: $black;
            }
        }
    }
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	outline: none;
	box-shadow: none;

	&:focus {
		outline: none;
	}
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	transition: .2s linear;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:not([class]) {
		color: $black;

		&:hover {
			color: $grey;
		}
	}
}

svg {
	transition: ease-in-out .3s;

	* {
		transition: ease-in-out .3s;
	}
}

main {
	position: relative;
	flex: 1 0 auto;
}

.section {
	position: relative;
	transition: linear .3s;
	padding: 50px 0;
	@include bp(xs) {
		padding: 32px 0;
	}
}

picture {
	display: block;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
}

.container {
	width: 100%;
	max-width: unset !important;
	padding: 0 24px;
	transition: linear .2s;
	@include bp(xs) {
		padding: 0 20px;
	}
	@include bp(xxs) {
		padding: 0 15px;
	}

	> [class^="col"] {
		padding: 0 12px;
		@include bp(xs) {
			padding: 0 5px;
		}
	}

	.row {
		--bs-gutter-x: 24px;
		@include bp(xs) {
			--bs-gutter-x: 10px;
		}
	}
}


.select-wrapper {
	position: relative;

	.input {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: -1;
	}

	> svg {
		position: absolute;
		z-index: 1;
		top: 14px;
		right: 14px;
		pointer-events: none;
	}

	&.error, &.err {
		> svg {
			path {
				stroke: $black;
			}
		}

		.SumoSelect {
			> .CaptionCont {
				background-color: #fff;
				border-color: $black;

				> span {
					&.placeholder {
						color: transparent;

						&:after {
							display: none;
						}
					}
				}
			}
		}
	}

	&__search {
		> svg {
			width: 19px;
			height: 20px;
			top: 16px;
			right: 16px;
		}
	}

	.SumoSelect {
		display: flex;
		width: 100%;

		&.open, &:focus, &:hover {
			> .CaptionCont {
				box-shadow: none;
			}
		}

		&.open {
			> .optWrapper {
				top: calc(100% + 5px);
			}

			.search-txt {
			}
		}

		> .CaptionCont {
			height: 50px;
			border: 1px solid $black;
			width: 100%;
			border-radius: 0;
			cursor: pointer;
			padding: 0 0 0 15px;
			display: flex;
			align-items: center;
			background-color: #fff;
			@include bp(xs) {
				height: 44px;
			}

			span {
				color: $grey;
				font-family: $default;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			> img {
				margin-right: 10px;
			}

			> span {
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 26px;
				cursor: pointer;

				&.placeholder {
					background-color: transparent;
					opacity: 1;
					font-weight: 400;
				}
			}

			> label {
				width: 44px;

				> i {
					flex-shrink: 0;
					display: block;
					background-image: url('../images/icons/arrow.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					width: 13px;
					height: 8px;
				}
			}
		}

		> .optWrapper {
			box-shadow: none;
			border-radius: 0;
			border-color: $black;

			&.isFloating {
				position: absolute;
				width: 100%;
				bottom: auto;
				max-height: unset;
			}

			> .options {
				border-radius: 0;

				&::-webkit-scrollbar {
					overflow-y: scroll;
					background: $disable;
					width: 3px;
					transition: linear .2s;
					box-shadow: 1px 0 0 transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: $black;
					border-radius: 0;
					width: 1px;
					transition: linear .2s;
					cursor: grab;
				}

				li {
					&.opt {
						font-size: 16px;
						font-style: normal;
						line-height: 26px;
						padding: 14px 18px;
						border-color: $black;
						display: flex;
						align-items: center;
						background-color: #fff;

						img {
							margin-right: 10px;
						}

						&:hover {
							background-color: $black;
							color: #fff;
						}

						&.disabled {
							display: none;
						}

						label {
							font-weight: 400;
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.no-match {
			padding: 8px 19px;
		}
	}
}


.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: normal;
	width: max-content;
	height: 50px;
	padding: 12px 32px;
	background: $black;
	color: #fff;
	border: 1px solid $black;
	font-family: $title;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	transition: linear .2s;
	cursor: pointer;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	@include bp(xs) {
		height: 41px;
		font-size: 14px;
	}

	&:focus,
	&:hover {
		outline: none;
		box-shadow: none;
		color: #fff;
		background: $purple;
		border-color: $purple;
	}

	&:active {
		color: #fff !important;
		background: $purple !important;
		border-color: $purple !important;
	}

	&.btn-tr {
		background-color: transparent;
		color: $black;

		&:focus,
		&:hover {
			color: #fff;
			background: $black;
			border-color: $black;
		}

		&:active {
			color: #fff !important;
			background: $black !important;
			border-color: $black !important;
		}
	}
}

input,
textarea {
	box-shadow: none !important;
	border-radius: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill::first-line,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill::first-line {
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: inset 0 0 0 1000px transparent;
	-webkit-transition: background-color 5000s ease-in-out 0s;
	transition: background-color 5000s ease-in-out 0s;
	caret-color: inherit;
	font-size: inherit;

	&::first-line {
		font-size: inherit;
	}
}

::selection {
	background: rgba($purple, .35);
	color: #fff;
	text-shadow: none;
}

// Header
@import '_header';

// Breadcrumbs
@import 'breadcrumbs';
