.section-reviews {
	.section-head {
		margin-top: 6px;
		margin-bottom: 27px;
		@include bp(lg) {
			position: relative;
			flex-direction: column;
		}

		.reviews-rating {
			display: flex;
			align-items: center;
			margin-left: 16px;
			position: relative;
			@include bp(lg) {
				margin-left: 0;
				margin-top: 8px;
			}
			@include bp(xs) {
				margin-top: 16px;
			}

			> strong {
				margin-left: 8px;
				font-family: $title;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				@include bp(xs) {
					font-size: 16px;
				}
				@include bp(xxs) {
					font-size: 14px;
				}
			}

			> span {
				margin-left: 4px;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				@include bp(xs) {
					font-size: 14px;
				}
				@include bp(xxs) {
					font-size: 12px;
				}
			}
		}

		.btn {
			margin-left: auto;
			position: relative;
			top: -9px;
			@include bp(lg) {
				position: absolute;
				top: 0;
				right: 0;
			}
			@include bp(sm) {
				position: static;
				margin-top: 12px;
				margin-left: 0;
			}
		}
	}
}

.rating-stars {
	display: flex;
	gap: 8px;
	@include bp(xs) {
		gap: 4px;
	}
	@include bp(xxs) {
		gap: 0;
	}

	svg {
		@include bp(xxs) {
			width: 20px;
			height: 20px;
		}
	}

	path {
		display: none;
	}

	.star {
		display: flex;

		&.star-full {
			.full-path {
				display: block;
			}
		}

		&.star-half {
			.half-path {
				display: block;
			}
		}

		&.star-empty {
			.empty-path {
				display: block;
			}
		}
	}
}

.reviews-slider {
	margin-left: -1px;

	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: inherit;

		&:last-child {
			.reviews-item {
				border-right: 1px solid $black;
			}
		}

		> div {
			height: 100%;
		}
	}

	.slide {
		height: 100%;
	}
}

.reviews-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 165px;
	border: 1px solid $black;
	border-right: 0;
	position: relative;
	padding: 20px 24px;
	@include bp(xs) {
		padding: 16px 20px;
		min-height: 158px;
	}
}

.reviews-item__text {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 8px;
	@include bp(xs) {
		margin-bottom: 16px;
	}
}

.reviews-item__author {
	color: $grey;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	margin-top: auto;
	@include bp(xs) {
		line-height: 14px;
	}
}
