.products-slider {
	margin-left: -1px;

	.slick-list {
		padding-bottom: 1px;
	}

	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: inherit;

		&:last-child {
			.product-item {
				border-right: 1px solid $black;
			}
		}

		> div {
			height: 100%;
		}
	}

	.slide {
		height: 100%;
	}
}

.product-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid $black;
	border-right: 0;
	position: relative;

	&:hover {
		.product-photo {
			&:after {
				opacity: 1;
				visibility: visible;
			}

			img {
				scale: 1.15;
			}

			.face {
				scale: 1;
				opacity: 1;
				visibility: visible;
				z-index: 3;
			}

			.circle-text {
				opacity: 1;
				visibility: visible;
				z-index: 2;
			}

			.circle-text__main {
				animation: initialScale .4s ease-out forwards;
			}
		}

		.product-info__title {
			color: $purple;
		}
	}

	> a {
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.product-photo {
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	height: 20vw;
	border-bottom: 1px solid $black;
	position: relative;
	overflow: hidden;
	background-color: $bg-grey;
	@include bp(lg) {
		height: 25vw;
	}
	@include bp(md) {
		height: 33.3333vw;
	}
	@include bp(xs) {
		height: 50vw;
		padding: 0 20px;
	}

	&:after {
		position: absolute;
		z-index: 1;
		content: '';
		background: rgba(255, 255, 255, 0.20);
		box-shadow: 0 4px 20px 0 rgba(127, 227, 193, 0.20) inset;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		width: calc(100% - 1px);
		height: 100%;
		left: 1px;
		top: 0;
		opacity: 0;
		visibility: hidden;
		transition: ease-in-out .3s;
		pointer-events: none;
	}

	img {
		max-height: 100%;
		object-fit: contain;
		transition: ease-in-out .3s;
		mix-blend-mode: multiply;
	}

	.face {
		width: auto;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: ease-in-out .3s;
		pointer-events: none;
		mix-blend-mode: unset;
		@include bp(xs) {
			display: none;
		}
	}

	.circle-text {
		pointer-events: none;
		@include bp(xs) {
			display: none;
		}
	}
}

.product-info {
	display: flex;
	flex-direction: column;
	padding: 20px 24px;
	height: calc(100% - 20vw);
	@include bp(lg) {
		height: calc(100% - 25vw);
	}
	@include bp(md) {
		height: calc(100% - 33.3333vw);
	}
	@include bp(xs) {
		height: calc(100% - 50vw);
		padding: 16px 20px;
	}
}

.product-info__top {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 12px;
	@include bp(xs) {
		height: 100%;
		flex-direction: column;
		margin-bottom: 16px;
		align-items: flex-start;
		gap: 0;
	}
}

.product-info__title {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	text-transform: capitalize;
	width: 67%;
	transition: ease-in-out .3s;
	@include bp(xs) {
		width: 100%;
		margin-bottom: 16px;
	}
	@include bp(xxs) {
		font-size: 14px;
	}
}

.product-info__price {
	min-width: max-content;
	padding-top: 1px;
	text-align: right;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	text-transform: capitalize;

	.old-price {
		display: block;
		color: $grey;
		text-decoration-line: line-through;

		+ .current-price {
			margin-top: 5px;
			display: block;
		}
	}
}

.product-options__btn {
	position: relative;
	z-index: 3;
	cursor: pointer;
	margin-top: auto;
	color: $grey;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 14px;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
	transition: ease-in-out .3s;

	&:hover {
		color: $purple;
	}

	&:after {
		position: absolute;
		content: '';
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% + 20px);
		height: calc(100% + 20px);
	}
}

.custom-slider__controls {
	margin-top: 20px;
	@include bp(xs) {
		margin-top: 24px;
	}

	&.empty {
		margin-top: 0;
		@include bp(xs) {
			margin-top: 0;
		}
	}

	> .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		@include bp(xs) {
			justify-content: center;
			gap: 0;
		}

		.dots {
			.slick-dots {
				display: flex;
				flex-wrap: wrap;
				gap: 9px;
				margin-bottom: -9px;

				li {
					display: flex;
					margin-bottom: 9px;

					&.slick-active {
						button {
							background-color: $black;
						}
					}

					button {
						border: 1px solid $black;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						padding: 0;
						position: relative;
						font-size: 0;
						background-color: transparent;

						&:after {
							position: absolute;
							content: '';
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							width: calc(100% + 8px);
							height: calc(100% + 8px);
						}
					}
				}
			}
		}

		.arrows {
			display: flex;
			@include bp(xs) {
				display: none;
			}

			.slick-arrow {
				cursor: pointer;

				&:hover {
					svg {
						path {
							stroke: $grey;
						}
					}
				}
			}
		}
	}
}

.circle-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: ease-in-out .3s;
	//animation: initialScale .6s ease-out forwards;
}

.circle-text__main {
	min-height: 165px;
	min-width: 165px;
	display: grid;
	place-items: center;
	overflow: hidden;
	transition: ease-in-out .3s;
}

.circle-text__inner {
	position: relative;
	perspective: 5em;
	animation: infiniteRotate 12s linear infinite;

	span {
		position: absolute;
		width: 1em;
		font-family: $title;
		color: $black;
		font-size: 20px;
		font-weight: 600;
		white-space: nowrap;
		text-indent: calc(var(--i) * -1em);
		overflow: hidden;
		letter-spacing: 0.17em;
		transform: translate(-50%, -50%) rotate(calc(15deg * var(--i))) translateY(-3.7em) rotateX(-90deg);
		//transform: translate(-50%, -50%) rotate(calc(15deg * var(--i))) translateY(calc(-1em / sin(15deg) + 0.1em)) rotateX(-90deg);
	}
}

@keyframes initialScale {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes infiniteRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
