.news-slider {
	margin-left: -1px;

	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: inherit;

		&:last-child {
			.news-item {
				border-right: 1px solid $black;
			}
		}

		> div {
			height: 100%;
		}
	}

	.slide {
		height: 100%;
	}
}

.news-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid $black;
	border-right: 0;
	position: relative;

	&:hover {
		.news-item__photo {
			img {
				scale: 1.15;
			}
		}

		.news-item__title {
			color: $purple;
		}
	}
}

.news-item__photo {
	aspect-ratio: 360 / 288;
	border-bottom: 1px solid $black;
	position: relative;
	overflow: hidden;
	@include bp(xs) {
		aspect-ratio: 390 / 200;
	}

	img {
		max-height: 100%;
		object-fit: cover;
		transition: ease-in-out .3s;
	}
}

.news-item__label {
	position: absolute;
	z-index: 2;
	top: 16px;
	left: 24px;
	display: flex;
	align-items: center;
	gap: 8px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-transform: capitalize;
	padding: 0 16px;
	height: 26px;
	width: max-content;
	background-color: $black;
	border-radius: 24px;
	@include bp(xs) {
		top: 20px;
		left: 20px;
	}

	> i {
		width: 8px;
		height: 8px;
		border-radius: 50%;
	}
}

.news-item__info {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 20px 24px;
	@include bp(xs) {
		padding: 16px 20px;
	}
}

.news-item__title {
	display: block;
	margin-bottom: 8px;
	color: $black;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	@include bp(xs) {
		line-height: 130%;
		margin-bottom: 16px;
	}
}

.news-item__bot {
	display: flex;
	justify-content: space-between;
	color: $grey;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	margin-top: auto;
	@include bp(xs) {
		line-height: 14px;
	}
}
