<header class="header">
	<div class="header-top">
		<div class="container">
			<img src="../../images/face.png" loading="lazy" alt="">
			<span>Place your order by 3 PM — it ships today!</span>
			<img src="../../images/face.png" loading="lazy" alt="">
		</div>
	</div>
	<div class="header-main">
		<div class="container">
			<a href="javascript:void(0)" class="header-logo">
				<img src="../../images/logo.svg" loading="lazy" alt="">
			</a>
			<ul class="header-menu">
				<li class="mega-menu-btn">
					<a href="javascript:void(0)">Shop</a>
					<i>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M5 12H19" stroke="#0B0B0B" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12 5V19" stroke="#0B0B0B" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</i>
				</li>
				<li>
					<a href="javascript:void(0)">About us</a>
				</li>
				<li>
					<a href="javascript:void(0)">Contact us</a>
				</li>
				<li>
					<a href="javascript:void(0)">FAQ</a>
				</li>
				<li>
					<a href="javascript:void(0)">Blog</a>
				</li>
				<li>
					<a href="javascript:void(0)">Order tracking</a>
				</li>
			</ul>
			<div class="header-search__btn">Search</div>
			<a href="javascript:void(0)" class="header-cart__btn">Cart (<span class="amount">0</span>)</a>
			<div class="mobile-btn">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" viewBox="0 0 25 16" fill="none">
					<path d="M1 8L24 8" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round"/>
					<path d="M1 15L24 15" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round"/>
					<path d="M1 1L24 1" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" viewBox="0 0 25 16" fill="none">
					<path d="M19.5 1.5L6.5 14.5" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M6.5 1.5L19.5 14.5" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
		</div>
	</div>
	<nav class="mega-menu">
		<ul class="submenu submenu-categories">
			<li>
				<a href="javascript:void(0)">Shop All</a>
			</li>
			<li>
				<a href="javascript:void(0)">New Arrivals</a>
			</li>
			<li>
				<a href="javascript:void(0)">Top Sellers</a>
			</li>
			<li>
				<a href="javascript:void(0)">On Sale
					<span>up to 25% Off</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">Disposable Vape</a>
			</li>
			<li>
				<a href="javascript:void(0)">Vape Cartridges</a>
			</li>
			<li>
				<a href="javascript:void(0)">Edibles</a>
			</li>
			<li>
				<a href="javascript:void(0)">Concentrates</a>
			</li>
			<li>
				<a href="javascript:void(0)">Accessories</a>
			</li>
		</ul>
		<ul class="submenu submenu-effects">
			<li>
				<span>Effects</span>
			</li>
			<li>
				<a href="javascript:void(0)">Creative</a>
			</li>
			<li>
				<a href="javascript:void(0)">Energetic</a>
			</li>
			<li>
				<a href="javascript:void(0)">Euphoric</a>
			</li>
			<li>
				<a href="javascript:void(0)">Focused</a>
			</li>
			<li>
				<a href="javascript:void(0)">Giggly</a>
			</li>
			<li>
				<a href="javascript:void(0)">Happy</a>
			</li>
			<li>
				<a href="javascript:void(0)">Relaxed</a>
			</li>
			<li>
				<a href="javascript:void(0)">Sleepy</a>
			</li>
		</ul>
		<ul class="submenu submenu-types">
			<li>
				<span>Types</span>
			</li>
			<li>
				<a href="javascript:void(0)">Indica</a>
			</li>
			<li>
				<a href="javascript:void(0)">Sativa</a>
			</li>
			<li>
				<a href="javascript:void(0)">Hybrid</a>
			</li>
		</ul>
	</nav>
	<div class="header-search__wrapper">
		<div class="header-search">
			<form class="header-search__form">
				<div class="header-search__inner">
					<button>
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
							<path d="M28 28L22.2134 22.2134" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M14.6667 25.3333C20.5577 25.3333 25.3333 20.5577 25.3333 14.6667C25.3333 8.77563 20.5577 4 14.6667 4C8.77563 4 4 8.77563 4 14.6667C4 20.5577 8.77563 25.3333 14.6667 25.3333Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</button>
					<input type="search" name="search">
					<div class="search-close">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
							<path d="M24 8L8 24" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M8 8L24 24" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
				</div>
				<div class="search-results" data-output="search-results">
					<ul>
						<li>
							<a href="javascript:void(0)" class="search-results-item">
								<div class="search-results-item__img">
									<img src="../../images/product-main.png" loading="lazy" alt="">
								</div>
								<div class="search-results-item__info">
									<span>Fryd “Bubblegum Gelato”</span>
									<div>£34.99</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="search-results-item">
								<div class="search-results-item__img">
									<img src="../../images/product-main.png" loading="lazy" alt="">
								</div>
								<div class="search-results-item__info">
									<span>Fryd “Bubblegum Gelato”</span>
									<div>£34.99</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="search-results-item">
								<div class="search-results-item__img">
									<img src="../../images/product-main.png" loading="lazy" alt="">
								</div>
								<div class="search-results-item__info">
									<span>Fryd “Bubblegum Gelato”</span>
									<div>£34.99</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="search-results-item">
								<div class="search-results-item__img">
									<img src="../../images/product-main.png" loading="lazy" alt="">
								</div>
								<div class="search-results-item__info">
									<span>Fryd “Gelato”</span>
									<div>£30.99</div>
								</div>
							</a>
						</li>
					</ul>
					<div class="view-all">
						<a href="javascript:void(0)">View all results</a>
					</div>
					<div class="nothing-found">
						<p>Sorry, nothing found for <span></span>. Check out some of these popular searches:</p>
						<ul class="search-tags">
							<li><a href="javascript:void(0)" class="search-tag">Vape</a></li>
							<li><a href="javascript:void(0)" class="search-tag">Pod Battery</a></li>
							<li><a href="javascript:void(0)" class="search-tag">Cartridges</a></li>
							<li><a href="javascript:void(0)" class="search-tag">Edibles</a></li>
							<li><a href="javascript:void(0)" class="search-tag">Accessories</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>

<div class="mobile-menu">
	<div class="mobile-menu__inner">
		<div class="container">
			<div class="header-search__wrapper header-search-mobile__wrapper">
				<div class="header-search">
					<form class="header-search__form">
						<div class="header-search__inner">
							<button>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
									<path d="M28 28L22.2134 22.2134" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M14.6667 25.3333C20.5577 25.3333 25.3333 20.5577 25.3333 14.6667C25.3333 8.77563 20.5577 4 14.6667 4C8.77563 4 4 8.77563 4 14.6667C4 20.5577 8.77563 25.3333 14.6667 25.3333Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</button>
							<input type="search" name="search" placeholder="Search">
							<div class="search-close">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
									<path d="M24 8L8 24" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M8 8L24 24" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
						</div>
						<div class="search-results" data-output="search-results">
							<ul>
								<li>
									<a href="javascript:void(0)" class="search-results-item">
										<div class="search-results-item__img">
											<img src="../../images/product-main.png" loading="lazy" alt="">
										</div>
										<div class="search-results-item__info">
											<span>Fryd “Bubblegum Gelato”</span>
											<div>£34.99</div>
										</div>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="search-results-item">
										<div class="search-results-item__img">
											<img src="../../images/product-main.png" loading="lazy" alt="">
										</div>
										<div class="search-results-item__info">
											<span>Fryd “Bubblegum Gelato”</span>
											<div>£34.99</div>
										</div>
									</a>
								</li>
							</ul>
							<div class="view-all">
								<a href="javascript:void(0)">View all results</a>
							</div>
							<div class="nothing-found">
								<p>Sorry, nothing found for <span></span>. Check out some of these popular searches:</p>
								<ul class="search-tags">
									<li><a href="javascript:void(0)" class="search-tag">Vape</a></li>
									<li><a href="javascript:void(0)" class="search-tag">Pod Battery</a></li>
									<li><a href="javascript:void(0)" class="search-tag">Cartridges</a></li>
									<li><a href="javascript:void(0)" class="search-tag">Edibles</a></li>
									<li><a href="javascript:void(0)" class="search-tag">Accessories</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="mobile-menu__lists">
				<ul class="mobile-menu__list">
					<li><span>Shop All</span></li>
					<li><a href="javascript:void(0)">New Arrivals</a></li>
					<li><a href="javascript:void(0)">On Sale <span>up to 25% Off</span></a></li>
					<li><a href="javascript:void(0)">Disposable Vape</a></li>
					<li><a href="javascript:void(0)">Vape Cartridges</a></li>
					<li><a href="javascript:void(0)">Edibles</a></li>
					<li><a href="javascript:void(0)">Concentrates</a></li>
					<li><a href="javascript:void(0)">Accessories</a></li>
				</ul>
				<ul class="mobile-menu__list">
					<li><a href="javascript:void(0)">About us</a></li>
					<li><a href="javascript:void(0)">Contact us</a></li>
					<li><a href="javascript:void(0)">FAQ</a></li>
					<li><a href="javascript:void(0)">Blog</a></li>
					<li><a href="javascript:void(0)">Customer Reviews</a></li>
					<li><a href="javascript:void(0)">Find Us in Telegram</a></li>
					<li><a href="javascript:void(0)">Pay with Cryptocurrency</a></li>
				</ul>
			</div>
		</div>
		<div class="mobile-menu__bottom">
			<a href="javascript:void(0)" class="btn">Track Your Order</a>
		</div>
	</div>
</div>

<div class="header-spacer" id="top"></div>
