<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex, nofollow">
	<title>ProperLoud</title>
	<meta name="description" content="ProperLoud descriprion">
	<link rel="icon" type="image/png" href="../../images/favicon.png">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<meta name="theme-color" content="#F4F4F4">
	<meta name="msapplication-navbutton-color" content="#F4F4F4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F4F4F4">
	<meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="section page-about">
		<div class="page-top">
			<div class="container">
				<nav class="breadcrumbs">
					<a href="/">Home</a>
					<span>About us</span>
				</nav>
				<h1 class="page-title">About us</h1>
				<div class="page-description">Hey there! Welcome to Proper Loud, your new favorite spot for awesome cannabis products in the UK. We're all about giving you the best cannabis experiences!</div>
			</div>
		</div>
		<div class="about-main">
			<div class="about-main__wrapper">
				<div>
					<i>
						<img src="../../images/about-01.png" loading="lazy" alt="">
					</i>
					<span>Our mission</span>
					<div>Our mission is simple: we want to make getting your hands on top-notch cannabis products in the UK easy, safe, and fun. We believe in the good vibes that cannabis can bring, and we're here to make it all accessible to you.</div>
				</div>
				<div>
					<i>
						<img src="../../images/about-02.png" loading="lazy" alt="">
					</i>
					<span>Quality Check</span>
					<div>We're serious about quality. Our crew of experts carefully picks and tests each product to make sure it's pure, potent, and safe. You can bet that everything we offer comes from the best producers for a top-notch experience.</div>
				</div>
				<div>
					<i>
						<img src="../../images/about-03.png" loading="lazy" alt="">
					</i>
					<span>We're Here for You</span>
					<div>Your satisfaction is our jam. Got questions or concerns? Our friendly team is here to help you out. We're all ears for your feedback to keep making your shopping experience even better.</div>
				</div>
				<div>
					<i>
						<img src="../../images/about-04.png" loading="lazy" alt="">
					</i>
					<span>Stealthy Shipping</span>
					<div>Privacy matters, right? Your orders? Shipped in super discreet packaging, and we've got top-notch encryption to keep your info safe and sound.</div>
				</div>
				<div>
					<i>
						<img src="../../images/about-05.png" loading="lazy" alt="">
					</i>
					<span>Playing by the Rules</span>
					<div>We're all about playing it cool with the law. We stick to the rules for selling cannabis products in the UK. No funny business here – just safe, legal access to awesome products.</div>
				</div>
				<div>
					<i>
						<img src="../../images/about-06.png" loading="lazy" alt="">
					</i>
					<span>Join the Party</span>
					<div>Whether you're a seasoned pro or just getting started, we want you to join the fun. Weed Wonderland is here for you, and we can't wait to be your go-to for all things cannabis.</div>
				</div>
			</div>
			<div class="about-thx">
				<span class="section-title">Thank you for choosing Proper Loud</span>
				<div class="about-thx__text">We're here to serve you, and we appreciate your trust in our products and services. If you have any questions or feedback, please don't hesitate to contact us. Your satisfaction is our ultimate goal.</div>
			</div>
			<div class="about-footnote">
				<span>Discover the finest cannabis products in the UK.</span>
				<a href="javascript:void(0)">Shop with Proper Loud today!</a>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
