<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex, nofollow">
	<title>ProperLoud</title>
	<meta name="description" content="ProperLoud descriprion">
	<link rel="icon" type="image/png" href="../../images/favicon.png">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<meta name="theme-color" content="#F4F4F4">
	<meta name="msapplication-navbutton-color" content="#F4F4F4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F4F4F4">
	<meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="section page-article">
		<img src="../../images/news-01-lg.jpg" loading="lazy" alt="">
		<div class="article-wrapper">
			<div class="article-main">
				<nav class="breadcrumbs">
					<a href="/">Home</a>
					<a href="javascript:void(0)">Blog</a>
					<span>New Packaging, Fresh Products: Diamond CBD Just Got a New Look</span>
				</nav>
				<span class="article-label">
					<i style="background:#00CFA8;"></i>
					Weed and health
				</span>
				<h1>!New Packaging, Fresh Products: Diamond CBD Just Got a New Look</h1>
				<div class="article-specs">
					<span>April 15, 2025</span>
					<span>3 minutes read</span>
				</div>
				<div class="article-text">
					<p>Diamond CBD is proud to announce an important transition in the way we package and ship many of our most popular products.</p>
					<p>As part of our commitment to sustainability, product freshness, and cost-efficiency, we are phasing out our traditional clear plastic jars in favor of resealable, U.S.-made paper bags.</p>
					<p>This change affects a wide range of products—including gummies, capsules, flower, pre-rolls, vapes, and more—and reflects our ongoing mission to deliver high-quality goods in a way that benefits both our customers and the planet.</p>
					<img src="../../images/article-pic.jpg" loading="lazy" alt="">
					<h2>Reducing Waste, Improving Impact</h2>
					<p>The new resealable paper bags reduce packaging waste by over 70% compared to our previous plastic jars. In addition to minimizing landfill impact, these bags are lighter and more compact, which helps reduce shipping waste and emissions across the supply chain.</p>
					<p>This change is part of our broader effort to create a more sustainable operation without compromising on quality or safety.</p>
					<p>This change affects a wide range of products—including gummies, capsules, flower, pre-rolls, vapes, and more—and reflects our ongoing mission to deliver high-quality goods in a way that benefits both our customers and the planet.</p>
					<h2>Reducing Waste, Improving Impact</h2>
					<p>The new resealable paper bags reduce packaging waste by over 70% compared to our previous plastic jars. In addition to minimizing landfill impact, these bags are lighter and more compact, which helps reduce shipping waste and emissions across the supply chain.</p>
					<p>This change is part of our broader effort to create a more sustainable operation without compromising on quality or safety.</p>
					<p>This change affects a wide range of products—including gummies, capsules, flower, pre-rolls, vapes, and more—and reflects our ongoing mission to deliver high-quality goods in a way that benefits both our customers and the planet.</p>
				</div>
			</div>
			<div class="article-navigation">
				<div class="article-navigation__btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M12 19L5 12L12 5" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M19 12H5" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					Previous Article
				</div>
				<div class="article-navigation__btn">
					Next Article
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M12 5L19 12L12 19" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M5 12L19 12" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-news">
		<div class="container">
			<div class="section-head">
				<h2 class="section-title">Latest news</h2>
				<a class="link-all" href="javascript:void(0)">View All</a>
			</div>
		</div>
		<div class="news-slider slick-slider"
			 data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite": true, "arrows": true, "dots": true, "prevArrow": "#news-slider-prev", "nextArrow": "#news-slider-next", "appendDots": "#news-slider-dots", "responsive":[{"breakpoint":1199,"settings":{"slidesToShow": 3}}, {"breakpoint":991,"settings":{"slidesToShow": 2}}, {"breakpoint":575,"settings":{"slidesToShow": 1}}]}'>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#00CFA8;"></i>
							Weed and health
						</span>
						<img src="../../images/news-01.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="news-item__bot">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#F9F871;"></i>
							Cannabis oil
						</span>
						<img src="../../images/news-02.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">Cannabis Flower Grades: Exotics vs. Top Shelf vs. Super Premium</span>
						<div class="news-item__bot">
							<span>December 23, 2024</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#E8A9FF;"></i>
							Hybrid
						</span>
						<img src="../../images/news-03.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">What Are Terpenes? The Ultimate Guide</span>
						<div class="news-item__bot">
							<span>October 2, 2024</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#FF0C70;"></i>
							Weed in UK
						</span>
						<img src="../../images/news-04.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">How to Unclog Your Disposable Vape</span>
						<div class="news-item__bot">
							<span>September 30, 2024</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="custom-slider__controls">
			<div class="container">
				<div class="dots" id="news-slider-dots"></div>
				<div class="arrows">
					<div id="news-slider-prev">
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
							<path d="M28.0001 44.3333L11.6667 28L28.0001 11.6666" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M44.3334 28H11.6667" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<div id="news-slider-next">
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
							<path d="M27.9999 11.6667L44.3333 28L27.9999 44.3334" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.6666 28L44.3333 28" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
