<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex, nofollow">
	<title>ProperLoud</title>
	<meta name="description" content="ProperLoud descriprion">
	<link rel="icon" type="image/png" href="../../images/favicon.png">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<meta name="theme-color" content="#F4F4F4">
	<meta name="msapplication-navbutton-color" content="#F4F4F4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F4F4F4">
	<meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="section page-blog">
		<div class="page-top">
			<div class="container">
				<nav class="breadcrumbs">
					<a href="/">Home</a>
					<span>Blog</span>
				</nav>
				<h1 class="page-title">Blog</h1>
			</div>
		</div>
		<div class="blog-main">
			<div class="blog-categories">
				<div class="container">
					<span class="blog-categories__title">
						Blog categories
						<i>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
							  <path d="M3.33325 8H12.6666" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							  <path d="M8 3.33334V12.6667" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
							  <path d="M3.33325 8H12.6666" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
					</span>
					<div class="blog-categories__dropdown">
						<a href="javascript:void(0)">All categories</a>
						<a href="javascript:void(0)">Cannabis and Creativity</a>
						<a href="javascript:void(0)">Cannabis Cultivation</a>
						<a href="javascript:void(0)">Cannabis drug test</a>
						<a href="javascript:void(0)">Cannabis Oil</a>
						<a href="javascript:void(0)">Cannabis traveling</a>
						<a href="javascript:void(0)">Cannabis Treatment</a>
						<a href="javascript:void(0)">Cannabis Wax in UK</a>
						<a href="javascript:void(0)">CBD</a>
						<a href="javascript:void(0)">Effects of Weed Strains UK</a>
						<a href="javascript:void(0)">Fake cannabis</a>
						<a href="javascript:void(0)">For Beginners</a>
						<a href="javascript:void(0)">Hash in UK</a>
						<a href="javascript:void(0)">High octane strain</a>
						<a href="javascript:void(0)">Homemade Weed</a>
						<a href="javascript:void(0)">Hybrid</a>
						<a href="javascript:void(0)">Low octane strain</a>
						<a href="javascript:void(0)">Pre-Rolled Joints in UK</a>
						<a href="javascript:void(0)">Sativa Strain</a>
						<a href="javascript:void(0)">THC Flowers in UK</a>
						<a href="javascript:void(0)">THC in UK</a>
						<a href="javascript:void(0)">Weed accessories</a>
						<a href="javascript:void(0)">Weed and Health</a>
						<a href="javascript:void(0)">Weed Edibles in UK</a>
						<a href="javascript:void(0)">Weed in UK</a>
					</div>
					<span class="blog-categories__title-mob">
						<i>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M14 4H20V10H14V4Z" stroke="#F5B700" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M4 14H10V20H4V14Z" stroke="#F5B700" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M14 17C14 17.7956 14.3161 18.5587 14.8787 19.1213C15.4413 19.6839 16.2044 20 17 20C17.7956 20 18.5587 19.6839 19.1213 19.1213C19.6839 18.5587 20 17.7956 20 17C20 16.2044 19.6839 15.4413 19.1213 14.8787C18.5587 14.3161 17.7956 14 17 14C16.2044 14 15.4413 14.3161 14.8787 14.8787C14.3161 15.4413 14 16.2044 14 17Z" stroke="#F5B700" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M4 7C4 7.39397 4.0776 7.78407 4.22836 8.14805C4.37913 8.51203 4.6001 8.84274 4.87868 9.12132C5.15726 9.3999 5.48797 9.62087 5.85195 9.77164C6.21593 9.9224 6.60603 10 7 10C7.39397 10 7.78407 9.9224 8.14805 9.77164C8.51203 9.62087 8.84274 9.3999 9.12132 9.12132C9.3999 8.84274 9.62087 8.51203 9.77164 8.14805C9.9224 7.78407 10 7.39397 10 7C10 6.60603 9.9224 6.21593 9.77164 5.85195C9.62087 5.48797 9.3999 5.15726 9.12132 4.87868C8.84274 4.6001 8.51203 4.37913 8.14805 4.22836C7.78407 4.0776 7.39397 4 7 4C6.60603 4 6.21593 4.0776 5.85195 4.22836C5.48797 4.37913 5.15726 4.6001 4.87868 4.87868C4.6001 5.15726 4.37913 5.48797 4.22836 5.85195C4.0776 6.21593 4 6.60603 4 7Z" stroke="#F5B700" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</i>
						Blog Categories
					</span>
					<div class="blog-categories__mob">
						<div class="blog-categories__mob-head">
							<i>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path d="M14 4H20V10H14V4Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M4 14H10V20H4V14Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M14 17C14 17.7956 14.3161 18.5587 14.8787 19.1213C15.4413 19.6839 16.2044 20 17 20C17.7956 20 18.5587 19.6839 19.1213 19.1213C19.6839 18.5587 20 17.7956 20 17C20 16.2044 19.6839 15.4413 19.1213 14.8787C18.5587 14.3161 17.7956 14 17 14C16.2044 14 15.4413 14.3161 14.8787 14.8787C14.3161 15.4413 14 16.2044 14 17Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M4 7C4 7.39397 4.0776 7.78407 4.22836 8.14805C4.37913 8.51203 4.6001 8.84274 4.87868 9.12132C5.15726 9.3999 5.48797 9.62087 5.85195 9.77164C6.21593 9.9224 6.60603 10 7 10C7.39397 10 7.78407 9.9224 8.14805 9.77164C8.51203 9.62087 8.84274 9.3999 9.12132 9.12132C9.3999 8.84274 9.62087 8.51203 9.77164 8.14805C9.9224 7.78407 10 7.39397 10 7C10 6.60603 9.9224 6.21593 9.77164 5.85195C9.62087 5.48797 9.3999 5.15726 9.12132 4.87868C8.84274 4.6001 8.51203 4.37913 8.14805 4.22836C7.78407 4.0776 7.39397 4 7 4C6.60603 4 6.21593 4.0776 5.85195 4.22836C5.48797 4.37913 5.15726 4.6001 4.87868 4.87868C4.6001 5.15726 4.37913 5.48797 4.22836 5.85195C4.0776 6.21593 4 6.60603 4 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</i>
							Blog Categories
							<span class="blog-categories__close">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								  <path d="M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								  <path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="blog-categories__mob-main">
							<a href="javascript:void(0)">All categories</a>
							<a href="javascript:void(0)">Cannabis and Creativity</a>
							<a href="javascript:void(0)">Cannabis Cultivation</a>
							<a href="javascript:void(0)">Cannabis drug test</a>
							<a href="javascript:void(0)">Cannabis Oil</a>
							<a href="javascript:void(0)">Cannabis traveling</a>
							<a href="javascript:void(0)">Cannabis Treatment</a>
							<a href="javascript:void(0)">Cannabis Wax in UK</a>
							<a href="javascript:void(0)">CBD</a>
							<a href="javascript:void(0)">Effects of Weed Strains UK</a>
							<a href="javascript:void(0)">Fake cannabis</a>
							<a href="javascript:void(0)">For Beginners</a>
							<a href="javascript:void(0)">Hash in UK</a>
							<a href="javascript:void(0)">High octane strain</a>
							<a href="javascript:void(0)">Homemade Weed</a>
							<a href="javascript:void(0)">Hybrid</a>
							<a href="javascript:void(0)">Low octane strain</a>
							<a href="javascript:void(0)">Pre-Rolled Joints in UK</a>
							<a href="javascript:void(0)">Sativa Strain</a>
							<a href="javascript:void(0)">THC Flowers in UK</a>
							<a href="javascript:void(0)">THC in UK</a>
							<a href="javascript:void(0)">Weed accessories</a>
							<a href="javascript:void(0)">Weed and Health</a>
							<a href="javascript:void(0)">Weed Edibles in UK</a>
							<a href="javascript:void(0)">Weed in UK</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-wrapper">
				<a href="javascript:void(0)" class="blog-item">
					<div class="blog-item__picture">
						<div>
							<img src="../../images/news-01-sm.jpg" loading="lazy" alt="">
						</div>
						<span class="blog-item__label">
							<i style="background:#00CFA8;"></i>
							Weed and health
						</span>
					</div>
					<div class="blog-item__info">
						<span class="blog-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="blog-item__specs">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
						<div class="blog-item__description">
							<p>Diamond CBD is proud to announce an important transition in the way we package and ship many of our most popular products. </p>
							<p>As part of our commitment to sustainability, product freshness, and cost-efficiency, we are phasing out our traditional clear plastic jars in favor of resealable, U.S.-made paper bags.</p>
						</div>
						<div class="blog-item__btn">
							Read More
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M12 5L19 12L12 19" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5 12L19 12" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
					</div>
				</a>
				<a href="javascript:void(0)" class="blog-item">
					<div class="blog-item__picture">
						<div>
							<img src="../../images/news-02.jpg" loading="lazy" alt="">
						</div>
						<span class="blog-item__label">
							<i style="background:#F9F871;"></i>
							Cannabis oil
						</span>
					</div>
					<div class="blog-item__info">
						<span class="blog-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="blog-item__specs">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
						<div class="blog-item__description">
							<p>Diamond CBD is proud to announce an important transition in the way we package and ship many of our most popular products. </p>
							<p>As part of our commitment to sustainability, product freshness, and cost-efficiency, we are phasing out our traditional clear plastic jars in favor of resealable, U.S.-made paper bags.</p>
						</div>
						<div class="blog-item__btn">
							Read More
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M12 5L19 12L12 19" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5 12L19 12" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
					</div>
				</a>
				<a href="javascript:void(0)" class="blog-item">
					<div class="blog-item__picture">
						<div>
							<img src="../../images/news-01-sm.jpg" loading="lazy" alt="">
						</div>
						<span class="blog-item__label">
							<i style="background:#E8A9FF;"></i>
							Hybrid
						</span>
					</div>
					<div class="blog-item__info">
						<span class="blog-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="blog-item__specs">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
						<div class="blog-item__description">
							<p>Diamond CBD is proud to announce an important transition in the way we package and ship many of our most popular products. </p>
							<p>As part of our commitment to sustainability, product freshness, and cost-efficiency, we are phasing out our traditional clear plastic jars in favor of resealable, U.S.-made paper bags.</p>
						</div>
						<div class="blog-item__btn">
							Read More
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M12 5L19 12L12 19" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5 12L19 12" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
					</div>
				</a>
				<a href="javascript:void(0)" class="blog-item">
					<div class="blog-item__picture">
						<div>
							<img src="../../images/news-01-sm.jpg" loading="lazy" alt="">
						</div>
						<span class="blog-item__label">
							<i style="background:#FF0C70;"></i>
							Weed in UK
						</span>
					</div>
					<div class="blog-item__info">
						<span class="blog-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="blog-item__specs">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
						<div class="blog-item__description">
							<p>Diamond CBD is proud to announce an important transition in the way we package and ship many of our most popular products. </p>
							<p>As part of our commitment to sustainability, product freshness, and cost-efficiency, we are phasing out our traditional clear plastic jars in favor of resealable, U.S.-made paper bags.</p>
						</div>
						<div class="blog-item__btn">
							Read More
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M12 5L19 12L12 19" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5 12L19 12" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
					</div>
				</a>
				<a href="javascript:void(0)" class="blog-item">
					<div class="blog-item__picture">
						<div>
							<img src="../../images/news-01-sm.jpg" loading="lazy" alt="">
						</div>
						<span class="blog-item__label">
							<i style="background:#00CFA8;"></i>
							Weed and health
						</span>
					</div>
					<div class="blog-item__info">
						<span class="blog-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="blog-item__specs">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
						<div class="blog-item__description">
							<p>Diamond CBD is proud to announce an important transition in the way we package and ship many of our most popular products. </p>
							<p>As part of our commitment to sustainability, product freshness, and cost-efficiency, we are phasing out our traditional clear plastic jars in favor of resealable, U.S.-made paper bags.</p>
						</div>
						<div class="blog-item__btn">
							Read More
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M12 5L19 12L12 19" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5 12L19 12" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
					</div>
				</a>
			</div>
			<div class="pagination">
				<ul class="pagination-numbers">
					<li class="current">
						<a href="javascript:void(0)">1</a>
					</li>
					<li>
						<a href="javascript:void(0)">2</a>
					</li>
					<li>
						<a href="javascript:void(0)">3</a>
					</li>
					<li class="dots">
						<a href="javascript:void(0)">...</a>
					</li>
					<li>
						<a href="javascript:void(0)">27</a>
					</li>
				</ul>
				<div class="pagination-arrows">
					<a href="javascript:void(0)">
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
							<path d="M27.9998 44.3333L11.6665 28L27.9998 11.6666" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M44.3332 28H11.6665" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
					<a href="javascript:void(0)">
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
							<path d="M28.0002 11.6667L44.3335 28L28.0002 44.3334" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.6668 28L44.3335 28" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-news">
		<div class="container">
			<div class="section-head">
				<h2 class="section-title">Latest news</h2>
				<a class="link-all" href="javascript:void(0)">View All</a>
			</div>
		</div>
		<div class="news-slider slick-slider"
			 data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite": true, "arrows": true, "dots": true, "prevArrow": "#news-slider-prev", "nextArrow": "#news-slider-next", "appendDots": "#news-slider-dots", "responsive":[{"breakpoint":1199,"settings":{"slidesToShow": 3}}, {"breakpoint":991,"settings":{"slidesToShow": 2}}, {"breakpoint":575,"settings":{"slidesToShow": 1}}]}'>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#00CFA8;"></i>
							Weed and health
						</span>
						<img src="../../images/news-01.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">New Packaging, Fresh Products: Diamond CBD Just Got a New Look!</span>
						<div class="news-item__bot">
							<span>April 15, 2025</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#F9F871;"></i>
							Cannabis oil
						</span>
						<img src="../../images/news-02.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">Cannabis Flower Grades: Exotics vs. Top Shelf vs. Super Premium</span>
						<div class="news-item__bot">
							<span>December 23, 2024</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#E8A9FF;"></i>
							Hybrid
						</span>
						<img src="../../images/news-03.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">What Are Terpenes? The Ultimate Guide</span>
						<div class="news-item__bot">
							<span>October 2, 2024</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
			<div class="slide">
				<a href="javascript:void(0)" class="news-item">
					<div class="news-item__photo">
						<span class="news-item__label">
							<i style="background:#FF0C70;"></i>
							Weed in UK
						</span>
						<img src="../../images/news-04.jpg" loading="lazy" alt="">
					</div>
					<div class="news-item__info">
						<span class="news-item__title">How to Unclog Your Disposable Vape</span>
						<div class="news-item__bot">
							<span>September 30, 2024</span>
							<span>3 minutes read</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="custom-slider__controls">
			<div class="container">
				<div class="dots" id="news-slider-dots"></div>
				<div class="arrows">
					<div id="news-slider-prev">
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
							<path d="M28.0001 44.3333L11.6667 28L28.0001 11.6666" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M44.3334 28H11.6667" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<div id="news-slider-next">
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
							<path d="M27.9999 11.6667L44.3333 28L27.9999 44.3334" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.6666 28L44.3333 28" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
