<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex, nofollow">
	<title>ProperLoud</title>
	<meta name="description" content="ProperLoud descriprion">
	<link rel="icon" type="image/png" href="../../images/favicon.png">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<meta name="theme-color" content="#F4F4F4">
	<meta name="msapplication-navbutton-color" content="#F4F4F4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F4F4F4">
	<meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="page-checkout">
		<div class="page-top">
			<div class="container">
				<nav class="breadcrumbs">
					<a href="/">Home</a>
					<span>Checkout</span>
				</nav>
				<h1 class="page-title">Please Finalise the Payment</h1>
			</div>
		</div>
		<div class="container">
			<div class="cryptocheckout-wrapper row">
				<div class="cryptocheckout-left col-xl-7">
					<span class="cryptocheckout-title">To complete your order</span>
					<div class="cryptocheckout-left__text cryptocheckout-left__text-properloudplay">
						<span class="cryptocheckout-left__title">How to Seal the Deal:</span>
						<ol>
									<li>Hit up our crew on Telegram at <a href="https://t.me/TheBanker420">https://t.me/TheBanker420</a>. Don’t keep us waiting.</li>
									<li>Got your order number? Check your confirmation email, slick. You’ll need it to prove you’re legit.</li>
									<li>Our team will drop the payment details your way. Follow the steps like a pro.</li>
									<li>Once we see the cash flow, your order gets marked as paid, and we’ll get things rolling.</li>
						</ol>
						<p>Got questions? Need a hand? Don’t sweat it—our support’s got your back. Let’s make this deal happen.</p>
					</div>
<!--					<a href="javascript:void(0)" class="cryptocheckout-right__support">-->
<!--						<i>-->
<!--							<img src="../../images/support.png" class="lazy" alt="">-->
<!--						</i>-->
<!--						Live support available!-->
<!--					</a>-->
				</div>
				<div class="cryptocheckout-right col-xl-5">
					<span class="cryptocheckout-title">Order details</span>
					<table class="cryptocheckout-right__table">
						<tbody>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-01.png" class="lazy" alt="">
									</i>
									<span>Product:</span>
								</div>
							</td>
							<td>Fryd “Bubblegum Gelato”</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-02.png" class="lazy" alt="">
									</i>
									<span>Subtotal:</span>
								</div>
							</td>
							<td>£39</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-03.png" class="lazy" alt="">
									</i>
									<span>Shipping:</span>
								</div>
							</td>
							<td>Free shipping</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-04.png" class="lazy" alt="">
									</i>
									<span>Payment:</span>
								</div>
							</td>
							<td>Cryptocurrency</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-05.png" class="lazy" alt="">
									</i>
									<span>Total:</span>
								</div>
							</td>
							<td>£39</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
