<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex, nofollow">
	<title>ProperLoud</title>
	<meta name="description" content="ProperLoud descriprion">
	<link rel="icon" type="image/png" href="../../images/favicon.png">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<meta name="theme-color" content="#F4F4F4">
	<meta name="msapplication-navbutton-color" content="#F4F4F4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F4F4F4">
	<meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="page-checkout">
		<div class="page-top">
			<div class="container">
				<nav class="breadcrumbs">
					<a href="/">Home</a>
					<span>Checkout</span>
				</nav>
				<h1 class="page-title">Please Finalise The Payment</h1>
			</div>
		</div>
		<div class="container">
			<div class="cryptocheckout-wrapper row">
				<div class="cryptocheckout-left col-xl-7">
					<span class="cryptocheckout-title">To complete your order</span>
					<div class="cryptocheckout-left__text">
						<span class="cryptocheckout-left__title">Follow These Steps to Complete Your Order:</span>
						<ol>
							<li><strong>Log into your crypto wallet.</strong> If you don't have cryptocurrency yet, you can purchase it from any crypto exchange or refer to our manual at <a href="/how-to-pay-with-crypto-currency/" target="_blank">https://weedwonderland.co.uk/how-to-pay-with-crypto-currency/</a> for detailed instructions on how to create one.</li>
							<li>Select the <strong>"Send"</strong> option within your crypto wallet and choose the appropriate wallet from which you'll be sending the funds.</li>
							<li><strong>Paste the wallet address</strong> provided in your order into the recipient's address field. Ensure that you copy the address accurately to avoid any errors.</li>
							<li><strong>Paste the exact amount of cryptocurrency</strong> specified in your order. Please note that some providers deduct fees from the amount you intend to send, resulting in the recipient receiving less than the intended amount. Make sure to include any applicable fees in the total amount sent.</li>
							<li><strong>Initiate the transfer of funds to our wallet</strong> and confirm the transaction. Double-check all details before proceeding to ensure accuracy.</li>
							<li><strong>After initiating the transaction, please allow time for it to be confirmed.</strong> The duration of confirmation may vary depending on the cryptocurrency and the timing of your transaction, but it could take up to 4 hours in some cases.</li>
						</ol>
						<p><strong>Once the transaction is confirmed, your order will be processed accordingly.</strong> If you encounter any issues or require further assistance, feel free to reach out to us for support.</p>
					</div>
					<div class="cryptocheckout-left__form">
						<div class="cryptocheckout-left__form-title">
							Payment Details <span>(copy to your crypto wallet)</span>
						</div>
						<div class="cryptocheckout-left__inputs">
							<div class="cryptocheckout-left__inputs-item">
								<label for="amount">Amount</label>
								<div>
									<input type="text" class="input" id="amount" value="0.000222 BTC">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<g clip-path="url(#clip0_491_4240)">
												<path
													d="M7 9.667C7 8.95967 7.28099 8.28131 7.78115 7.78115C8.28131 7.28099 8.95967 7 9.667 7H18.333C18.6832 7 19.03 7.06898 19.3536 7.20301C19.6772 7.33704 19.9712 7.53349 20.2189 7.78115C20.4665 8.0288 20.663 8.32281 20.797 8.64638C20.931 8.96996 21 9.31676 21 9.667V18.333C21 18.6832 20.931 19.03 20.797 19.3536C20.663 19.6772 20.4665 19.9712 20.2189 20.2189C19.9712 20.4665 19.6772 20.663 19.3536 20.797C19.03 20.931 18.6832 21 18.333 21H9.667C9.31676 21 8.96996 20.931 8.64638 20.797C8.32281 20.663 8.0288 20.4665 7.78115 20.2189C7.53349 19.9712 7.33704 19.6772 7.20301 19.3536C7.06898 19.03 7 18.6832 7 18.333V9.667Z"
													stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M4.012 16.737C3.70534 16.5622 3.45027 16.3095 3.27258 16.0045C3.09488 15.6995 3.00085 15.353 3 15V5C3 3.9 3.9 3 5 3H15C15.75 3 16.158 3.385 16.5 4" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</g>
											<defs>
												<clipPath id="clip0_491_4240">
													<rect width="24" height="24" fill="white"/>
												</clipPath>
											</defs>
										</svg>
									</i>
									<span style="opacity: 0; pointer-events: none">OK!</span>
								</div>
							</div>
							<div class="cryptocheckout-left__inputs-item">
								<label for="wallet">Wallet address</label>
								<div>
									<input type="text" class="input" id="wallet" value="16qUJtpDJGR7E11kuTjsxs96wLvTsXRrpH">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<g clip-path="url(#clip0_491_4240)">
												<path
													d="M7 9.667C7 8.95967 7.28099 8.28131 7.78115 7.78115C8.28131 7.28099 8.95967 7 9.667 7H18.333C18.6832 7 19.03 7.06898 19.3536 7.20301C19.6772 7.33704 19.9712 7.53349 20.2189 7.78115C20.4665 8.0288 20.663 8.32281 20.797 8.64638C20.931 8.96996 21 9.31676 21 9.667V18.333C21 18.6832 20.931 19.03 20.797 19.3536C20.663 19.6772 20.4665 19.9712 20.2189 20.2189C19.9712 20.4665 19.6772 20.663 19.3536 20.797C19.03 20.931 18.6832 21 18.333 21H9.667C9.31676 21 8.96996 20.931 8.64638 20.797C8.32281 20.663 8.0288 20.4665 7.78115 20.2189C7.53349 19.9712 7.33704 19.6772 7.20301 19.3536C7.06898 19.03 7 18.6832 7 18.333V9.667Z"
													stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M4.012 16.737C3.70534 16.5622 3.45027 16.3095 3.27258 16.0045C3.09488 15.6995 3.00085 15.353 3 15V5C3 3.9 3.9 3 5 3H15C15.75 3 16.158 3.385 16.5 4" stroke="#0B0B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</g>
											<defs>
												<clipPath id="clip0_491_4240">
													<rect width="24" height="24" fill="white"/>
												</clipPath>
											</defs>
										</svg>
									</i>
									<span style="opacity: 0; pointer-events: none">OK!</span>
								</div>
							</div>
						</div>
						<div class="cryptocheckout-confirmation">
							<div class="checkbox-wrapper">
								<input type="checkbox" id="cryptocheckout-confirm">
								<label for="cryptocheckout-confirm">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M17 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H17C18.1046 19 19 18.1046 19 17V3C19 1.89543 18.1046 1 17 1Z" stroke="#FFBB44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M7 10L9 12L13 8" stroke="#FFBB44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									I confirm that I have made the payment in my app.
								</label>
							</div>
							<button class="btn" id="confirm_crypto_payment"><span>Confirm</span></button>
						</div>
					</div>
				</div>
				<div class="cryptocheckout-right col-xl-5">
					<span class="cryptocheckout-title">Order details</span>
					<table class="cryptocheckout-right__table">
						<tbody>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-01.png" class="img-product" loading="lazy" alt="">
									</i>
									<span>Product:</span>
								</div>
							</td>
							<td>Fryd “Bubblegum Gelato”</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-02.png" class="img-subtotal" loading="lazy" alt="">
									</i>
									<span>Subtotal:</span>
								</div>
							</td>
							<td>£39</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-03.png" class="img-shipping" loading="lazy" alt="">
									</i>
									<span>Shipping:</span>
								</div>
							</td>
							<td>Free shipping</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-04.png" class="img-payment" loading="lazy" alt="">
									</i>
									<span>Payment:</span>
								</div>
							</td>
							<td>Cryptocurrency</td>
						</tr>
						<tr>
							<td>
								<div>
									<i>
										<img src="../../images/order-05.png" class="img-total" loading="lazy" alt="">
									</i>
									<span>Total:</span>
								</div>
							</td>
							<td>£39</td>
						</tr>
						</tbody>
					</table>
<!--					<a href="javascript:void(0)" class="cryptocheckout-right__support">-->
<!--						<i>-->
<!--							<img src="../../images/support.png" class="lazy" alt="">-->
<!--						</i>-->
<!--						Live support available!-->
<!--					</a>-->
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
