<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex, nofollow">
	<title>ProperLoud</title>
	<meta name="description" content="ProperLoud descriprion">
	<link rel="icon" type="image/png" href="../../images/favicon.png">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<meta name="theme-color" content="#F4F4F4">
	<meta name="msapplication-navbutton-color" content="#F4F4F4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F4F4F4">
	<meta name="mobile-web-app-capable" content="yes">
</head>

<body>
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="page-text-info">
		<div class="page-top">
			<div class="container">
				<nav class="breadcrumbs">
					<a href="/">Home</a>
					<span>Shipping Information</span>
				</nav>
				<h1 class="page-title">Shipping Information</h1>
			</div>
		</div>
		<div class="text-info-main">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<h2>Overview of Shipping Terms</h2>
						<p>These Shipping Terms act as a companion to Canna City’s Terms of Service. They explain how and when your order reaches you, detailing the process from placing your order to the moment it arrives at your door.</p>
						<h2>Agreement to Shipping Terms</h2>
						<p>By using Canna City’s Shipping service, you automatically agree to these Shipping Terms. They are an integral part of our overall Terms of Service and are subject to the same guidelines and principles.</p>
						<h2>Our Shipping Policy</h2>
						<p>We deliver your order to the address you provide, anywhere within the UK. Whether it’s your residence, workplace, or a mailing address, we aim to ensure that your products reach you safely. Orders typically take around two business days to be processed and shipped, though holidays and other unforeseen delays may occur. Rest assured, all shipments are handled with care, using top-tier, smell-proof, vacuum-sealed packaging, managed by trusted third-party couriers.</p>
						<p>Please note that we may limit the availability of certain items or decline large orders at our discretion, and we are not obligated to provide notice of these decisions.</p>
						<h2>Billing & Charges</h2>
						<p>Payments for Canna City Shipping orders are processed by a certified Payment Vendor. By placing an order, you authorize them to charge your selected payment method. Each Payment Vendor operates under their own terms and privacy policies, which are available for review.</p>
						<p>Any fees associated with your order are payable immediately. While shipping is currently offered free of charge, we reserve the right to implement delivery fees in the future, which will be added to your total order cost.</p>
						<h2>Final Sale Policy</h2>
						<p>All purchases made through Canna City are final. Once an order is placed, it cannot be returned, exchanged, or refunded, including sale items or those purchased with promotional discounts. This policy applies without exceptions.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
